header{
    background: #333;
    color: white;
    padding: 15px 20px 15px 20px;
    text-align: center;
}
nav{
    background: grey;
    display:flex;
    justify-content: center;
}
nav a{
    color:white;
    padding: 14px 20px 14px 20px;
}
nav a:hover{
    background: red;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.colum{
    background-color:wheat;
    padding: 20px;
    margin: 10px;
    width: 30%;
    text-align: center;
    margin: 10px 0px;
}
footer{
    text-align: center;
    background: grey;
    color: aliceblue;
    padding: 15px 20px 15px 20px;
}